.slotvalues{
    font-size: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.index-module_num__j6XH3{
    font-size: 50px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-left:5px solid rgb(77, 68, 68);
    border-right:5px solid rgb(77, 68, 68);
    color:white
}

.example-button{
    color: white;
}